@font-face {
  font-family: Font1;
  src: url(./Asset/NimbusSanL-Reg.woff);
}

@font-face {
  font-family: Font2;
  src: url(./Asset/NimbusSanL-Bol.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Font1;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.main {
  width: 100vw;
}
.home {
  width: 100%;
}
.nav {
  width: 100%;
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav a {
    display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 0.9vw;
  font-weight: 400;
}
.nleft {
  display: flex;
  gap: 20px;
}
.ncenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero {
  margin-top: 10vw;
  padding: 0vh 10vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sustain {
  width: 14vw;
}
.sustain h3 {
  font-size: 1vw;
  font-weight: 300;
  line-height: 1;
}

.sustain p {
  font-size: 14px;
  text-transform: capitalize;
  margin: 10px 0px;
  letter-spacing: 0.01;
  opacity: 0.5;
}

.susimg {
  width: 100%;
  height: 19vw;
  overflow: hidden;
}
.susimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.ephemeral {
  width: 30vw;
  min-height: 42vw;
  position: relative;
}
.ephemeral .headings {
  position: absolute;
  top: -100px;
  left: -58px;
}
.headings h1 {
  font-size: 6vw;
  font-weight: 80;
  font-family: Font2;
  line-height: 0.8;
  letter-spacing: -0.4vw;
}
#imgntextwrapper {
  width: fit-content;
  height: fit-content;
  
}
#imgntextwrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
 
}
#imgntextwrapper p {
  margin-top: 10px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 40%;
}
.gallery {
  display: flex;
  align-items: center;
  gap: 10px;
}
.gallery .icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #5e5e5e;
  cursor: pointer;

}
.gallery .icon i {
  color: #5e5e5e;
}

.gallery h5 {
  color: #5e5e5e;
}

.motive {
  margin-top: 7vw;
  padding: 0vh 10vw;
  display: flex;
  justify-content: space-between;
}

.motive h3 {
  letter-spacing: 0.02vw;
  text-transform: uppercase;
  font-size: 1.1vw;
  color: #5e5e5e;
}
.motive p {
  margin-top: 50px;
  font-size: 2.5vw;
  line-height: 1.5;
  width: 90%;
  font-weight: 530;
  text-align: right;
}

.motive p span {
  display: inline-block;
  height: 45px;
  border-radius: 60px;
  margin: 0 7px;
  margin-bottom: -10px;
}
.onespan {
  width: 70px;
  background-image: url(./Asset/bluegirl.jpg);
  background-size: cover;
  background-position: 0 60%;
}

.twospan {
  width: 110px;
  background-image: url(./Asset/shaljam.jpg);
  background-size: cover;
  background-position: 0 45%;
}
.threespan {
  width: 70px;
  background-image: url(./Asset/grass.jpg);
  background-size: cover;
  background-position: 0 45%;
}
.fifthImageContainer {
  margin-top: 13vw;
  padding: 0vh 16vw;
  display: flex;
  justify-content: space-between;
}

.synergy {
  width: 20vw;
}
.synergyimg {
  width: 100%;
  height: 30vw;
  margin-bottom: 15px;
}
.synergyimg img {
  width: 100%;
  height: 100%;
  cursor: pointer;

  object-fit: cover;
}

.synergy h2 {
  font-size: 2.6vw;
  letter-spacing: -0.1vw;
  font-weight: 400;
}
.synergy p {
  margin-top: 10px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 80%;
}
.harmony {
  width: 24vw;
  text-align: right;
}
.harmonyimg {
  width: 100%;
  height: 39vw;
  margin-bottom: 15px;
}
.harmonyimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

}

.harmony h2 {
  font-size: 2.6vw;
  letter-spacing: -0.1vw;
  font-weight: 400;
}
.harmony p {
  margin-top: 10px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 99%;
}
.biodegradable {
  margin-top: 6vw;
  display: flex;
  align-items: center;
  gap: 40px;
}
.biodegradableImg {
  width: 70%;
  cursor: pointer;
  height: 40vw;
}
.biodegradableImg img {
  width: 100%;
  height: 100%;
  object-position: 0% 70%;
  object-fit: cover;
}

.biodegradabletext h1 {
  font-size: 2.6vw;
  letter-spacing: -0.1vw;
  font-weight: 400;
  width: 60%;
  line-height: 1;
}
.biodegradabletext p {
  margin-top: 30px;
  font-size: 1.3vw;
  letter-spacing: -0.07vw;
  line-height: 1.3;
  width: 70%;
}
.future {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}
.future video {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.thinkFuture {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thinkFuture h2 {
  font-size: 2.6vw;
  letter-spacing: -0.1vw;
  font-weight: 400;
  line-height: 1;
 
}
.thinkFuture button{
    padding:  7px 15px;
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 200;
    margin-top: 20px;
    border: 1px solid #5e5e5e;
    background-color: #fff;
    cursor: pointer;
}
